header{
    text-align: center;
    background-color: rgba(140, 145, 149, 0.947);
    color:aliceblue;
    margin-right:10%;
    margin-left: 10%;
    height:30%;
}
.container{
    text-align:center;
    background-color:rgb(213, 239, 247);
    margin-left:10%;
    margin-right:10%;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    width:90%;
    height:26px;
}
.lab{
   display:block;
 
}
body{
    background-color: rgb(87, 92, 96);
}
.btn{
    width:30%;
    text-align:center;
    background-color: rgb(64, 64, 161);
}