body,h1,form,input,textarea,select {
margin:0;
padding:0;
}
header{
text-align:center;
background-color:#333;
color:#fff;
padding:10px 0;
}
.myform{
width:80%;
margin:20px auto;
padding:20px;
border:1px solid #ccc;
border-style: outset;
padding: 10px;
box-shadow: 5px 10px rgba(129, 130, 125, 0.71);
}
form{
width:100%;
}
input{
text-align:center;
width:50%;
margin-bottom:10px;
border-radius:5px;
padding:5px;
border:1px solid #ccc;
}
.submit{
background-color:#bf4c4c;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
font-size:16px;
}
.submit:hover{
    background-color:#fc5252;
}
body{
    background-color:rgb(206, 228, 248);
}
.myform{
background-color:rgb(213, 239, 247);
text-align:center;
margin-left:10%;
margin-right:10%;
margin-bottom:10%;
border:3px solid rgba(78, 171, 233, 0.61);
justify-content:center;
align-items:center; 
border-radius:4px;
display:block;
}
select,textarea{
text-align:center;
width: 50%;
margin-bottom: 10px;
border-radius:5px;
padding: 5px;
border: 1px solid #ccc;
}
